JWT_SECRET_KEY=sas-super-secret-science-day-2026
GEMINI_API_KEY=AIzaSyDS3Rz8hNOU0XDi9Yjap9Q2KeGUkit46RA
# Uncomment and fill for Supabase:
# DATABASE_URL=postgresql://postgres:PASSWORD@db.xxx.supabase.co:5432/postgres
